*  {
    margin: 0;
    padding: 0;
    border: border-box;
}
body {
    width: 100%;
    font-family: sans-serif;
}
header {
    width: 100%;
    height: 82px;
    background-color: rgb(12, 12, 89);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    width: 100%;
    height: 70px;
    /* border: 1px solid blue; */
    background-color: rgb(50, 50, 119);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    width: 300px;
    height: 70px;
    /* border: 2px solid pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: WHITE;


}
.nav {
    width: 100px;
    height: 60px;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav a {
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}
.nav:hover {
    border: 2px solid white;
    border-radius: 20px;
}
.all-opt {
    height: 500px;
    /* border: 1px solid red; */
    background-image: url(bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -50px; */
}
.all-msg {
    width: 1152px;
    height: 60px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;

    color: white;
    /* margin-top: 100px; */
    padding-top: 50px;
    font-weight: 700;

}
.all-opt1 {
    width: 1152px;
    height: 300px;
    /* border: 1px solid green; */
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.all-btn {
    width: 200px;
    height:80px ;
   /* border: 1px solid white; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}
.link {
    height: 500px;
    /* border: 2px solid red; */

}
.link1 {
    width: 1152px;
    height: 100px;
    /* border: 1px solid green; */
    
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(159, 159, 221);
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
footer {
    height: 120px;
    /* border: 1px solid red; */
    background-color: rgb(26, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;

}
.infoo {
    width: 1152px;
    height: 100px;
    border-radius: 20px;
}
.info {
    width: 1152px;
    height: 50px;
    
 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    color: black;
    background-color: white;
    border-radius: 20px 20px 0px 0px;


}
.info1 {
    width: 1152px;
    height: 50px;
   
     display: flex;
    align-items: center;
    justify-content: center;
      color: black;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}

